---
import { getWebmentionsForUrl } from "@/utils/webmentions";
import Comments from "./Comments.astro";
import Likes from "./Likes.astro";

const url = new URL(Astro.url.pathname, Astro.site);

const webMentions = await getWebmentionsForUrl(`${url}`);

// 如果没有 webmentions，就直接不渲染
if (!webMentions.length) return;
---

<hr class="border-solid" />
<h2 class="mb-8 before:hidden">本篇的 Webmentions</h2>
<div class="space-y-10">
	<Likes mentions={webMentions} />
	<Comments mentions={webMentions} />
</div>
<p class="mt-8">
	互动数据由{" "}
	<a href="https://webmention.io" rel="noreferrer" target="_blank">Webmentions</a>
</p>
