---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "我是一个面向 Astro.build 的起始主题。",
	title: "关于",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">关于</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			你好，我是一个 Astro 起始模板。特别适合帮你快速搭起自己的博客网站。
		</p>
		<p>下面是我内置的一些不错的功能：</p>
		<ul class="list-inside list-disc" role="list">
			<li>我是静态站点，所以速度很快</li>
			<li>我完全响应式</li>
			<li>自带浅色和深色模式</li>
			<li>很容易自定义，也方便继续扩展内容</li>
			<li>使用 Tailwind CSS 样式</li>
			<li>Shiki 代码语法高亮</li>
			<li>使用 Satori 自动生成博客文章的 OG 图片</li>
		</ul>
		<p>
			如果你喜欢我，可以克隆或 Fork 我的 <a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				rel="noreferrer"
				target="_blank">仓库</a
			>！
		</p>
	</div>
</PageLayout>
