---
import type { MarkdownHeading } from "astro";
import { generateToc } from "@/utils/generateToc";
import TOCHeading from "./TOCHeading.astro";

interface Props {
	headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const toc = generateToc(headings);
---

<details open class="post-toc lg:sticky lg:top-12 lg:order-2 lg:basis-56 lg:shrink-0">
	<summary class="post-toc__summary"
		><span class="post-toc__hash" aria-hidden="true">≡</span> 目录</summary
	>
	<nav class="post-toc__nav lg:w-full">
		<ol class="post-toc__list">
			{toc.map((heading) => <TOCHeading heading={heading} />)}
		</ol>
	</nav>
</details>
