---
import type { TocItem } from "@/utils/generateToc";

interface Props {
	heading: TocItem;
}

const {
	heading: { children, depth, slug, text },
} = Astro.props;
---

<li class={`post-toc__item ${depth > 2 ? "post-toc__item--sub" : ""}`}>
	<a class="post-toc__link" href={`#${slug}`}
		><span aria-hidden="true" class="post-toc__bullet">#</span>{text}</a
	>
	{
		!!children.length && (
			<ol class="post-toc__list post-toc__list--nested">
				{children.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ol>
		)
	}
</li>
